<div class="login-container">
  <div class="login-box">
    <h2>Sampaiollo LTDA</h2>
    <p>Login admin</p>

    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="credentials.login" required placeholder="exemplo@gmail.com">
      </div>

      <div class="input-group">
          <label for="senha">Senha</label>
          <input type="password" id="senha" name="senha" [(ngModel)]="credentials.senha" required placeholder="Insira sua senha...">
      </div>

      <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
      </div>

      <button type="submit" class="login-button">Entrar</button>
    </form>

    <a href="#" class="forgot-password">Esqueceu sua senha?</a>
  </div>
</div>